@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class = "table">
    <table>
        <thead>
            <tr>
                <th>Box Art</th>
                <th>Title</th> 
            </tr>
        </thead>
        <tbody>
           @{
                foreach (var Game in Program.games)
                {
                    <tr>
                        <td><img src = @Game.Box_art_url.Replace("{width}", "144").Replace("{height}", "192")></td>
                        <td>@Game.Name</td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
