@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class = "table">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Box Art</th> 
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var Game in Program.games)
                {
                    <tr>
                        <td>@Game.name</td>
                        <td>@Game.box_art_url</td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
